<a href="<%=context%>/logout" ><button class="btn pull-right">Cerrar Sesion</button></a>
<h1>Noo tiene acceso permitido a este contenido contacte con secretaría si debe tenerlo</h1>
<h2>Recuerde que sólo pueden acceder alumnos con correo @alumnos.upm.es y personal de secretaría con correo @upm.es y que tenga acceso al trámite seleccionado</h2>
<h1>Salga de este área o cierre sesión</h1>

